:root {
    --cor1: #ffd43b;
    --cor2: #0a192f;
    --cor3: #06101f;
    --cor4: #132c51;
    --cor2t: #0a192fce;
    --cor3t: #06101fd2;

    --fonte-padrao: "Poppins", sans-serif;
    --fonte-mono: "Fira Code", monospace;
}



.hidden {
    opacity: 0;
    transform: translateY(40px);
    transition: all 0.8s ease-out;
}

.show {
    opacity: 1;
    transform: translateY(0);
}




#sobre {
    background-color: var(--cor3);
    padding: 80px 20px;
    color: white;
    text-align: left;
    justify-items: center;
    margin: 0 auto;
}

.titulo-sessao {
    font-family: var(--fonte-mono);
    color: var(--cor1);
    font-size: 2.2rem;
    margin-bottom: 30px;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.521);
    justify-self: center;
}

.sobre-texto {
    font-family: var(--fonte-mono);
    font-size: 1.2rem;
    line-height: 1.8;
    margin-bottom: 40px;
    max-width: 900px;
}

.habilidades {
    list-style: none;
    padding: 0;
    margin: 0 0 40px 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 15px;
    font-family: var(--fonte-mono);
    font-size: 1.1rem;
    color: var(--cor1);
}

.curiosidade {
    font-style: italic;
    color: #ccc;
    font-size: 1.1rem;
    max-width: 800px;
}

@media (max-width: 600px) {
    .titulo-sessao {
        font-size: 1.7rem;
        text-align: left;
    }

    .sobre-texto,
    .curiosidade {
        text-align: left;
        font-size: 1rem;
    }

    .habilidades {
        grid-template-columns: 1fr;
        text-align: left;
    }
}

.sobre-texto::after {
    content: "|";
    animation: blink 1s infinite;
    color: var(--cor1);
    font-weight: bold;
}

@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}
